<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 <!-- 过滤器配置信息 -->  
 <filter>  
  <filter-name>SetCharacterEncodingFilter</filter-name>  
  <!-- 过滤器设置编码文件 -->  
  <filter-class>  
   cn.com.hq.filter.CharacterEncodingFilter  
  </filter-class>  
  <init-param>  
      <!--  
       init-param元素定义了过滤器的初始化参数 
       -->  
   <description>给参数和值设置名称和编码类型</description>  
   <param-name>encode</param-name>  
   <param-value>utf-8</param-value>  
  </init-param>  
 </filter>  
 <filter-mapping>  
  <!--   
   filter-mapping告诉容器所有与模式向匹配的请求都应该允许通过访问控制过滤器。  
   所有以.do结尾的访问都先通过过滤器文件过滤   
  -->  
  <filter-name>SetCharacterEncodingFilter</filter-name>  
  <url-pattern>/*</url-pattern>  
 </filter-mapping>  
  <servlet>
  	<servlet-name>Xiadan</servlet-name>
  	<servlet-class>com.weixinpay.Xiadan</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ChaBoShiCallBack</servlet-name>
  	<servlet-class>com.weixinpay.ChaBoShiCallBack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Sign</servlet-name>
  	<servlet-class>com.weixinpay.Sign</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PayResult</servlet-name>
  	<servlet-class>com.weixinpay.PayResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetOpenId</servlet-name>
  	<servlet-class>com.weixinpay.GetOpenId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BaoyangJiLuQuery</servlet-name>
  	<servlet-class>com.weixinpay.BaoyangJiLuQuery</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>CheLiangZhuangTaiQuery</servlet-name>
  	<servlet-class>com.weixinpay.CheLiangZhuangTaiQuery</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ChuXianJiLuQuery</servlet-name>
  	<servlet-class>com.weixinpay.ChuXianJiLuQuery</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>TouBaoXinXiQuery</servlet-name>
  	<servlet-class>com.weixinpay.TouBaoXinXiQuery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PayOff</servlet-name>
  	<servlet-class>com.weixinpay.PayOff</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaySuccess</servlet-name>
  	<servlet-class>com.weixinpay.PaySuccess</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>BeHighMember</servlet-name>
  	<servlet-class>com.weixinpay.BeHighMember</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryOrder</servlet-name>
  	<servlet-class>com.weixinpay.QueryOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberQuery</servlet-name>
  	<servlet-class>com.weixinpay.MemberQuery</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>MemberPriceQuery</servlet-name>
  	<servlet-class>com.weixinpay.MemberPriceQuery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PayRecord</servlet-name>
  	<servlet-class>com.weixinpay.PayRecord</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PaySuccess</servlet-name>
  	<url-pattern>/PaySuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PayOff</servlet-name>
  	<url-pattern>/PayOff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Xiadan</servlet-name>
  	<url-pattern>/xiadan</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ChaBoShiCallBack</servlet-name>
  	<url-pattern>/chaBoShiCallBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Sign</servlet-name>
  	<url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PayResult</servlet-name>
  	<url-pattern>/PayResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOpenId</servlet-name>
  	<url-pattern>/GetOpenId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BaoyangJiLuQuery</servlet-name>
  	<url-pattern>/BaoyangJiLuQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheLiangZhuangTaiQuery</servlet-name>
  	<url-pattern>/CheLiangZhuangTaiQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChuXianJiLuQuery</servlet-name>
  	<url-pattern>/ChuXianJiLuQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TouBaoXinXiQuery</servlet-name>
  	<url-pattern>/TouBaoXinXiQuery</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>BeHighMember</servlet-name>
  	<url-pattern>/BeHighMember</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
  	<servlet-name>QueryOrder</servlet-name>
  	<url-pattern>/QueryOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberQuery</servlet-name>
  	<url-pattern>/MemberQuery</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>MemberPriceQuery</servlet-name>
  	<url-pattern>/MemberPriceQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PayRecord</servlet-name>
  	<url-pattern>/PayRecord</url-pattern>
  </servlet-mapping>
</web-app>